@font-face {
    font-family: New Spirit;
    src: url("/src/assets/fonts/New Spirit/New Spirit Medium.otf");
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.error-text {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;

}

.active-cart {
    right: 0 !important;
    transition: .2s linear !important;
}

.inactive-cart {
    right: -110% !important;
    transition: .2s linear !important;
}